apiVersion: apps/v1
kind: Deployment
metadata:
  name: safenote-server
  labels:
    app: server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: server
  template:
    metadata:
      labels:
        app: server
    spec:
      containers:
      - name: server
        image: safenote-server:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
        
        - name: MONGO_URI
          valueFrom:
            secretKeyRef:
              name: safenote-secrets
              key: MONGO_URI
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: safenote-secrets
              key: JWT_SECRET
        
        - name: PORT
          value: "5000"
        - name: NODE_ENV
          value: "development"
---
apiVersion: v1
kind: Service
metadata:
  name: server-service
spec:
  selector:
    app: server
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000